.options {
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
}

.navbar {
    margin: auto;
}

.button {
    margin-top: 10px;
}

.errors {
    color: red;
}

.date_time {
    display: flex;
    flex-direction: row;
    margin: 5px 0px;
}

.option {
    border: 2px solid black;
    border-radius: 3px;
    margin: 0px 15px;
    padding: 3px 5px;
}