.m_auto {
    margin: auto;
}

.max_width_1 {
    max-width: 85vw;
}

.max_width_2 {
    max-width: 60vw;
}

.home_content h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card_container {
    max-width: 30vw;
    margin: 20px 10px;
}