.navbar {
    width: 85vw;
    margin: auto;
}

.m_auto {
    margin: auto;
}

.max_width_1 {
    max-width: 85vw;
}

.max_width_2 {
    max-width: 60vw;
}

.home_content h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card_container {
    max-width: 30vw;
    margin: 20px 10px;
}

@media screen and (max-width : 700px) {
    .card_container {
        max-width: 45vw;
    }
}

@media screen and (max-width : 320px) {
    .card_container {
        max-width: 55vw;
        /* margin: 20px 10px; */
    }
}