.navbar {
    width: 85vw;
    margin: auto;
}

.m_auto {
    margin: auto;
}

.max_width_1 {
    max-width: 85vw;
}

.max_width_2 {
    max-width: 60vw;
}

.home_content h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card_container {
    width: 100%;
    margin: 20px 10px;
    display: flex;
    flex-direction: row;
}

.card {
    width: 25%;
    height: auto;
    margin: 0px 10px;
}

@media screen and (max-width : 700px) {
    .card {
        width: 35%;
    }
}

@media screen and (max-width : 320px) {
    .card {
        width: 45%;
    }
}