.content {
    width: 85vw;
    margin: 0px auto;
}

.navbar {
    width: 85vw;
    margin: 0px auto;
}

.gradient_custom {
    background: #f6d365;

    background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));

    background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
}

.max_width_1 {
    max-width: 90vw;
}

.margin_top {
    margin-top: 2%;
}

.m_auto {
    margin: auto;
}